
body {
    background: url("img/mickey.png") repeat-x right 130px, url("img/mickey.png") repeat-x right 480px rgb(242 227 213);
    background-size: 1%; 
    margin-right: 9%;
    margin-left: 5%;
    padding-top: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

#header {
    margin-bottom: 50px; 
}
p {
    font-family: "Times New Roman", Times, serif;
    color: #024959;
    text-align: justify;
    text-indent: 20px;
    width: 95%;     
    margin: 20px auto;
}

.estilo p{
    background-color: rgba(255, 255, 255, 0.7); 
    padding: 20px;      
    border-radius: 10px;
}

nav{
    text-align: center;
}

nav ul{
    display: inline-block; 
    text-align: left;
    background-color: rgba(255, 255, 255, 0.5);
    padding: 20px 40px;
    border-radius: 20px;
    list-style-position: inside;
}
nav ul li {
    margin-bottom: 10px; 
    font-size: 1.1em;
}

h1, h2, h3, h4 {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: #024959;
    
}

h1, h2, h3, h4 {
    text-decoration: underline;
}

h2 {
    font-style: italic;
    font-size: 1.875em;
    margin-top: 40px
}
h3 {
    font-style: oblique;
    font-size: 105%;
    margin-bottom: 15px
}

h1 {
    font-style: normal;
    font-size: 40px;
    margin-top: 50px; 
    margin-bottom: 40px; 
}


img {
    display: block;
    margin: 30px auto;
    max-width: 100%; 
    border-radius: 10px;
    
}

.tachado{
    text-decoration: line-through;
    color: #888;
}

.estilo_Software_usado h2 {
    text-decoration: overline;
}