name: Deploy HTML to Azure Web App - angarita-mariana

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Login to Azure
        uses: azure/login@v2
        with:
          client-id: ${{ secrets.AZUREAPPSERVICE_CLIENTID_D8227F5B4E63445FBAFCF88989A21184 }}
          tenant-id: ${{ secrets.AZUREAPPSERVICE_TENANTID_0591A165A4AE45E09AA8AFDBF0BE9C81 }}
          subscription-id: ${{ secrets.AZUREAPPSERVICE_SUBSCRIPTIONID_23EF8D9185FD43CC97D9994AC59A1C30 }}

      - name: Deploy to Azure Web App
        uses: azure/webapps-deploy@v3
        with:
          app-name: 'angarita-mariana'
          slot-name: 'Production'
          package: .
